:root{
    --n: ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    width: calc(90vh + 2px);
    height: calc(90vh + 2px);
    margin: 0 auto;
    border: black 1px solid;
    display: flex;
    flex-wrap: wrap;
}

.box{
    height: calc(90vh / var(--n));
    width: calc(90vh / var(--n));
    border: black 1px solid;
}

.box.lightblue{
    background-color: lightblue;
}